numpy
pandas
matplotlib
seaborn
streamlit
plotly
folium
streamlit_folium
sklearn.ensemble
streamlit==1.32.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
plotly==5.20.0
folium==0.16.0
streamlit-folium==0.18.0
